.header {
    width: 100%;
    font-family: 'PT Sans', sans-serif;
}

.header .header_wrapper {
    width: 90%;
    margin: 0 auto;
}

.header .header_wrapper .header_navbur {
    display: flex;
    justify-content: space-between;
    padding-top: 28px;
}

.header_navbur .header_CloaseBtn {
    font-size: 18px;
    border: none;
    background-color: white;
    margin-left: 3px;
    color: #b2b6b7;
    cursor: pointer;
}

.header_navbur .header_restoreLink {
    font-size: 15px;
    margin-top: 4px;
    color: #b2b6b7;
    cursor: pointer;
}